<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="RemoveLegacyLauncherConfig" Guid="*">
        <RemoveFile Id="RemoveLegacyLauncherConfigFile" Name="launcher-config.json" On="uninstall" />
        <RemoveFolder Id="RemoveLegacyInstallFolder" On="uninstall" />
        <RegistryValue Root="HKLM" Key="Software\DeepDash" Name="InstallCleanup" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
